

.dropdown ul li:hover {
    background-color: #f0f0f0; /* Изменяет цвет фона при наведении */
}
.form-group {
    position: relative; /* Родительский элемент для правильного позиционирования */
}
.create-group-modal{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.dark-theme .create-group-modal{
    background-color: #202938;
}
/* Стили для выпадающего списка */
.dropdown {
    width: 100%; 
    max-height: 150px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
    z-index: 1000; /* Чтобы список появлялся поверх других элементов */
}

/* Стили для элементов списка */
.dropdown li {
    background-color: #c3cac7;
    border: solid 1px black;
    padding: 8px 12px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown li:hover {
    background-color: #eaeaea;
}

.dropdown li:active {
    background-color: #d0d0d0;
}

.create-group-modal input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}
.create-group-modal label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}