/* Общие стили для контейнера форм */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111828;
}

.form-box {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: black;
}
.dark-theme .form-box{
    background-color: #202938;
    border: 1px solid #ccc;
}

.form-box.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.form-box h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

/* Общие стили для input и label */
.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Общие стили для кнопок */
.form-box button {
    padding: 10px 20px;
    font-size: 16px;
    color: #1d1c1c;
    background-color: #737574;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-box button:hover {
    background-color: #353434;
}

/* Общие стили для социальных иконок */
.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
    color: #1a1919;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons i {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: #007bff;
}
.role-selection {
    margin-top: 15px;
}

.role-buttons {
    display: flex;
    justify-content: space-between;
}

.role-buttons button {
    flex: 1;
    padding: 8px;
    border: 1px solid #413f3f;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.role-buttons button:last-child {
    margin-right: 0;
}

.role-buttons button.active {
    background-color: #565856;
    color: rgb(255, 253, 253);
    border-color: #f6fbf6;
}

.role-buttons button:hover {
    background-color: #e0e0e0;
}
.dark-theme h2,
.dark-theme label{
    color: white;
}
.dark-theme button.active{
    background-color: #1b1648;
}
.dark-theme button:hover {
    background-color: #202938;
}

