html, body {
    height: 100%;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.lessonQuestions {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    border-radius: 25px;
    box-shadow: 0 4px 10px var(--shadow-color);
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.navigation {
    background-color: var(--secondary-color);
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Переход для темы */
}

.navigation h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.questionsSection {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.questionsSection h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--primary-color);
}

/* Карточка вопроса */
.questionItem {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    opacity: 0; /* Для плавного появления */
    animation: fadeIn 0.5s ease-out forwards; /* Плавное появление */
}

.questionItem:hover {
    box-shadow: 0 4px 10px var(--shadow-color);
}

.questionItem h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.highlight {
    border: 2px solid var(--primary-color);
    background-color: var(--progress-bg-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Кнопки */
.checkAnswersButton,
.deleteButton,
.addQuestionButton {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.checkAnswersButton:hover,
.deleteButton:hover,
.addQuestionButton:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.feedback {
    font-size: 0.9rem;
    margin-top: 10px;
    color: var(--hover-color);
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

.dialogActions button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dialogActions button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.mainContent {
    display: flex;
    gap: 20px;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    background-color: var(--secondary-color);
}

.mainContent > .navigation {
    flex: 1;
}

.mainContent > .questionsSection {
    flex: 3;
}
.inputField{
    padding: 10px;
    border-radius: 25px;
    width: 50%;
}
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .mainContent{
        display: block;
    }
}
