.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    color: white;
  }
  
  .modal-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #34495e;
    color: white;
  }
  
  .create-practice-button,
  .save-button,
  .cancel-button,
  .add-testcase-button,
  .remove-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #e74c3c;
  }
  
  .remove-button {
    background-color: #e74c3c;
    margin-left: 10px;
  }
  
  .create-practice-button {
    margin-bottom: 20px;
  }
  
  .test-case {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .test-case .modal-input {
    margin-right: 10px;
    flex: 1;
  }
  