/* styles for table */
body{
    background-color: #ffffff;
}
.second-lessons-page {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    gap: 20px;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-top: 20px;
}
.second-lessons-page>*{
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
}

.second-lessons-page > * {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 10px ;
    border: 3px solid #050505 ;
    vertical-align: top ;
    
}

.section-title {
    width: 25%;
    background-color: #e0e0e0;
    font-weight: bold;
}
.terminal-command {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}
td a {
    word-break: break-all; 
    overflow-wrap: break-word;
}
/*  */
.syntax-section {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.syntax-section strong {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

.syntax-section pre {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap; 
    font-family: monospace;
    font-size: 1em;
}

.syntax-section ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.syntax-section li {
    margin-bottom: 10px;
}

.syntax-section code {
    background-color: #e6e6e6;
    border-radius: 3px;
    padding: 2px 4px;
    font-family: monospace;
    font-size: 1em;
}

.syntax-section em {
    font-style: italic;
}
.command-table{
    text-align: center;
}
