:root {
    --background-color: #ffffff;
    --text-color: #1a1a1a;
    --primary-color: #00adb5;
    --secondary-color: #f0f0f0;
    --border-color: #dddddd;
    --button-background-color: #00adb5;
    --button-text-color: #ffffff;
    --hover-color: #393e46;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --progress-bg-color: #eeeeee;
    --progress-color: #00adb5;
    --input-background-color: #ffffff;
    --delete-button-color: #ff4b4b; /* Цвет кнопки удаления для светлой темы */
}

/* Темная тема */
.dark-theme {
    --background-color: #1a1a1a;
    --text-color: #eeeeee;
    --primary-color: #00adb5;
    --secondary-color: #222831;
    --border-color: #393e46;
    --button-background-color: #00adb5;
    --button-text-color: #ffffff;
    --hover-color: #00adb5;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --progress-bg-color: #393e46;
    --progress-color: #00adb5;
    --input-background-color: #393e46;
    --delete-button-color: #ff6b6b; /* Цвет кнопки удаления для темной темы */
}

.main-container {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

.task-container {
    max-width: 80%; /* Увеличение максимальной ширины */
    margin: 20px auto 0; /* Отступ сверху и центрирование по горизонтали */
    padding: 30px; /* Увеличение отступов внутри контейнера */
    box-shadow: 0 6px 20px var(--shadow-color); /* Увеличение тени для лучшего эффекта */
    background-color: var(--secondary-color);
    border-radius: 20px; /* Увеличение скругления углов */
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}


.task-item {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 15px var(--shadow-color);
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: fadeInDown 0.5s forwards;
    text-align: center;

}

.task-item:hover {
    transform: translateY(-10px);
}

.task-item::before {
    content: '';
    position: absolute;
    top: -75%;
    left: -75%;
    width: 200%;
    height: 200%;
    background-color: var(--hover-color);
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 1;
}

.task-item:hover::before {
    opacity: 0.05;
}

.task-item h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.task-item p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.mark {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.custom-delete-button {
    background-color: var(--delete-button-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 173, 181, 0.2);
}

.custom-delete-button:hover {
    background-color: var(--delete-button-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 173, 181, 0.3);
}

.monaco-editor-container {
    margin-bottom: 20px;
    box-shadow: 0 4px 15px var(--shadow-color);
    border-radius: 10px;
    overflow: hidden;
}

.submit-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 173, 181, 0.2);
}

.submit-button:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 173, 181, 0.3);
}

/* Анимация появления */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Адаптивность */
@media (max-width: 1024px) {
    .task-container {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .task-item h2 {
        font-size: 20px;
    }

    .task-item p {
        font-size: 14px;
    }

    .submit-button,
    .custom-delete-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
/* Стили для пользовательского модального окна */
.custom-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-dialog {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 15px var(--shadow-color);
    width: 90%;
    max-width: 500px;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dialog-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 173, 181, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 150px;
}

.dialog-button:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 173, 181, 0.3);
}

.cancel-button {
    background-color: var(--border-color);
}

.delete-button {
    background-color: var(--primary-color);
}

/* Анимация появления модального окна */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Адаптивность */
@media (max-width: 768px) {
    .custom-dialog {
        width: 95%;
        padding: 20px;
    }

    .dialog-button {
        padding: 8px 16px;
        font-size: 14px;
        width: 130px;
    }
}

/* Иконки для кнопок */
.dialog-button .icon {
    font-size: 18px;
}

/* Добавление иконок для отмены и удаления */
.cancel-button::before {
    content: '\2716'; /* Иконка крестика */
    font-size: 18px;
}

.delete-button::before {
    content: '\1F5D1'; /* Иконка мусорной корзины */
    font-size: 18px;
}
.new-task-button{
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 173, 181, 0.2);
    margin-top: 20px;
}

/* Основной стиль для модального окна */
.modal-content-task {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px var(--shadow-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* Стили для заголовка */
.modal-content-task h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для формы */
.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: var(--primary-color);
}

/* Стили для кнопок */
.modal-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: var(--hover-color);
}

/* Кнопка удаления */
.modal-button.delete-button {
    background-color: var(--delete-button-color);
}

.modal-button.delete-button:hover {
    background-color: #d85a5a; /* Более темный оттенок для кнопки удаления */
}
.form-input {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    min-height: 40px; /* Минимальная высота для одиночных полей */
}

.form-input:focus {

    border-color: var(--primary-color);
}

/* Специальный стиль для многострочного поля */
.form-textarea {
    margin-bottom: 20px;
    min-height: 100px; /* Задает высоту многострочного поля */
    max-height: 200px; /* Ограничение по высоте */
    overflow-y: auto; /* Полоса прокрутки при большом количестве текста */
    white-space: pre-wrap; /* Сохраняет переносы строк */
}

.dark-theme .form-input {
    color: var(--text-color); /* Белый текст */
    background-color: var(--input-background-color); /* Темный фон */
    border: 1px solid var(--border-color); /* Темная граница */
}

.dark-theme .form-input:focus {
    border-color: var(--primary-color); /* Основной цвет для акцента */
}

.dark-theme .form-textarea {
    color: var(--text-color); /* Белый текст */
    background-color: var(--input-background-color); /* Темный фон */
    border: 1px solid var(--border-color); /* Темная граница */
}