/* Определение переменных для темной и светлой тем */
:root {
    --primary-bg-color: #ffffff; /* Default background for light theme */
    --primary-text-color: #000000; /* Default text color for light theme */
    --secondary-bg-color: #0c7970;
    --secondary-text-color: red;
    --border-color: #ccc;
    --hover-color: #0056b3;
}

/* Темная тема */
.dark-theme {
    --primary-bg-color: #1e2430; /* Dark background color */
    --primary-text-color: #ffffff; /* Light text color */
    --border-color: #34495e;
}

/* Общие стили */
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при смене темы */
}

p {
    margin: 10px 0;
    color: var(--primary-text-color);
}

.task-container {
    text-align: center;
}

.task-item {
    position: relative;
    padding: 15px;
    border: 1px solid var(--border-color);
    margin: 10px 0;
    border-radius: 8px;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.task-title {
    margin: 0;
    font-size: 24px;
    color: var(--primary-text-color);
}

/* Кнопки */
button,
.custom-delete-button,
.modal-button {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--primary-text-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    width: auto;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

button:hover,
.modal-button:hover {
    background-color: var(--hover-color);
}

.custom-delete-button {
    background-color: transparent;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    transition: background-color 0.3s, color 0.3s;
}

.custom-delete-button:hover {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}

/* Модальное окно */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    border: solid white 1px;
}

.modal-content {
    border: solid white 1px;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}

/* Формы */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.task-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #111828;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-input {
    width: 100%; /* Устанавливает ширину полей ввода на 100% от родительского контейнера */
    box-sizing: border-box; /* Включает отступы и границы в расчет ширины */
    margin-bottom: 10px; /* Добавляет отступ снизу для визуального разделения */
    padding: 10px; /* Добавляет внутренний отступ для улучшения пользовательского ввода */
  }
  
  textarea.modal-input {
    width: 100%; /* Устанавливает ширину текстовой области на 100% */
    height: auto; /* Устанавливает высоту в автоматический режим */
    min-height: 80px; /* Устанавливает минимальную высоту, чтобы текстовая область не была слишком маленькой */
  }
  