.groups-carousel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.group-card {
    background-color: #1c2942;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    border: 1px solid #007bff;
    transition: transform 0.3s, z-index 0.3s;
    width: 350px !important;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slick-slide {
    transition: transform 0.3s ease-in-out;
}

.slick-center .group-card {
    transform: scale(1.2);
    z-index: 2; /* Повышаем z-index, чтобы центральная карточка была поверх других */
}

.slick-slide:not(.slick-center) {
    transform: scale(0.9);
    opacity: 0.7;
}

.group-title {
    font-size: 1.2em;
    color: #ecf0f1;
    margin-bottom: 10px;
}

.group-meta {
    font-size: 0.9em;
    color: #bdc3c7;
}

.group-meta span {
    display: block;
    margin-bottom: 5px;
}
.groups-carousel{
    width: 75%;
    height: 100%;
    border: 1px solid #fcfdff;
    border-radius: 10px;
    margin-top: 2%;
}
.group-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #e0f7fa; 
}