.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --primary-color: #00adb5;
  --secondary-color: #f0f0f0;
  --border-color: #dddddd;
  --button-background-color: #00adb5;
  --button-text-color: #ffffff;
  --hover-color: #393e46;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --progress-bg-color: #eeeeee;
  --progress-color: #00adb5;
  --input-background-color: #ffffff;
  --notification-success-bg: #dff6f7; /* Светло-бирюзовый */
  --notification-success-text: #007f82; /* Темно-бирюзовый */
  --notification-error-bg: #fde4e4; /* Светло-красный */
  --notification-error-text: #b71c1c; /* Темно-красный */
}

/* Темная тема */
.dark-theme {
  --background-color: #1a1a1a;
  --text-color: #eeeeee;
  --primary-color: #00adb5;
  --secondary-color: #222831;
  --border-color: #393e46;
  --button-background-color: #00adb5;
  --button-text-color: #ffffff;
  --hover-color: #00adb5;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --progress-bg-color: #393e46;
  --progress-color: #00adb5;
  --input-background-color: #393e46;
  --notification-success-bg: #00494d; /* Темный бирюзовый */
  --notification-success-text: #a8e3e5; /* Светло-бирюзовый */
  --notification-error-bg: #4d2020; /* Темный красный */
  --notification-error-text: #f5a6a6; /* Светло-красный */

}
html, body {
  height: 100%;
  background-color: var(--secondary-color); /* Цвет из вашей палитры */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
