/* Общие стили для контейнера слайдера */
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
    width: 70%;
    margin: 20px auto;
    background-color: var(--secondary-color);
}

.groups-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.slider-card {
    position: absolute;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--shadow-color), 0 8px 16px var(--shadow-color);
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    z-index: 1;
    background: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: var(--text-color);
}

.dark-theme .slider-card {
    background: var(--secondary-color);
}

/* Стили для предыдущей и следующей карточки */
.slider-card.prev {
    transform: translateX(-120%) scale(0.8);
    opacity: 0.7;
    z-index: 0;
}

.slider-card.next {
    transform: translateX(120%) scale(0.8);
    opacity: 0.7;
    z-index: 0;
}

/* Стили для активной карточки */
.slider-card.active {
    transform: translateX(0) scale(1.1);
    opacity: 1;
    z-index: 2;
    box-shadow: 0 16px 32px var(--shadow-color);
    border: 2px solid var(--primary-color);
}

.slider-card.hidden {
    display: none;
}

/* Анимация при наведении */
.slider-card:hover {
    box-shadow: 0 8px 16px var(--hover-color);
}

/* Стили для заголовков и метаданных внутри карточек */
.group-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.group-meta {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    margin-top: auto;
}

/* Стили для кнопок внутри карточек */
.card-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    align-self: center;
    margin-top: 15px;
}

.card-button:hover {
    background-color: var(--hover-color);
}

.dark-theme .slider-card:hover {
    box-shadow: 0 8px 16px var(--shadow-color);
}

.dark-theme .slider-card.active {
    border: 2px solid var(--primary-color);
}

.dark-theme .group-title {
    color: var(--text-color);
}

.dark-theme .card-button {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.dark-theme .card-button:hover {
    background-color: var(--hover-color);
}

.slider-button {
    background-color: var(--button-background-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.slider-button.prev {
    left: -4px;
}

.slider-button.next {
    right: -4px;
}

/* Стили изображения преподавателя */
.teacher-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid var(--border-color);
}

/* Темная тема */
.dark-theme .teacher-image {
    border-bottom: 1px solid var(--primary-color);
}

/* Анимация появления элементов */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
